---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  - secrets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - maintainer-d.cncf.io
  resources:
  - projects
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - maintainer-d.cncf.io
  resources:
  - projects/status
  verbs:
  - get
  - patch
  - update
